.commentEditor {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin: 5px;
}

.otherContainer {
}

.otherItem {
    margin-top:40px;
}

.similarContainer{

}

.similarItem{
    margin: 10px;
    border-style: groove;
    border-color: grey;
    border-width: 1px;
    padding: 5px;
}

.commentEditor{
    height: 300px;
}