.fixTitle {
    position: fixed;
    top: 64px;
    height: 50px;
    z-index: 2;
    background-color: white;
}

.narrowTitle {
    width: 60%;
}

.wideTitle {
    width:80.7%;
}

.fixBtn{
    float:right;
}

.rightItem {
    text-align: right;
    height: 50px;
    padding: 10px;
}

.title {
    height: 50px;
    padding: 12px;
    font-size: large;
}

.detail {
    padding: 20px
}

/*.upperBtn {*/
/*    z-index: 2;*/
/*    background-color: red;*/
/*}*/
